// css for more general things. Anything highly specific should have it's
// own js file in src/js due to how Vue renders things with templates.
// TODO study vue more to see if there's better workflow for css

*{
	margin:0;
	padding:0;
}

body {
	font-size: 100%;
	font-family: "mr-eaves-sans",sans-serif;
}

